.pro-r {
  display: grid;
  grid-template-columns: [viewport-start] minmax(0, 1fr) [header-start] 800px [header-end content-start] 400px [content-end] minmax(0, 1fr) [viewport-end];
  grid-template-rows: [header-start] 50px [header-end content-start] 1fr [content-end footer-start] 1fr [footer-end];
}
.pro-dec {
  display: contents;
  grid-column: viewport-start / viewport-end;
  grid-row: header-start / header-end;
}
.pro-cc {
  grid-column: content-start / content-end;
  grid-row: content-start / content-end;
}
.pro-h {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: header-start / content-end;
  grid-row: header-start / header-end;
}
.pro-h {
  grid-column: viewport-start / viewport-end;
  display: flex;
  padding: 1rem;
  margin: 0 0 1rem 0;
  justify-content: start;
  background: linear-gradient(220deg, #FF4D00, #FF9466, #992E00, #00B2FF, #006B99);
}
.pro-t {
  font-family: "Work Sans";
  color: white;
  font-size: 1.8rem;
}
.pro-t h1 {
  padding: 1rem;
  font-size: 1.8rem;
}
.pro-tls {
  grid-column: content-start / content-end;
  grid-row: content-start / content-end;
}